body, html {
	background-color: hsl(300, 3%, 94%);
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
  -webkit-font-smoothing: antialiased;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1;
    color: hsl(0, 0%, 20%);
    position: relative;
    word-wrap: break-word;
}

a {
	color: hsl(0, 0%, 20%);
}

footer {
	text-align: center;
}
