
.container {
	margin: 40px ;
}

.calender-cantainer {
	max-width: 400px;
	max-height: 600px;
	margin: 0 auto;
	background-color: hsl(0, 0%, 100%);

    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    font: normal 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 280px;

    .row {
    	display: flex;
	    flex-flow: row nowrap;
	    width: 90%;
	    justify-content: center;
			padding: 0 20px;
    }

    .cell {
    	background-color: #ffffff;
	    align-items: center;
	    display: flex;
	    flex-flow: row nowrap;
	    flex-grow: 1;
	    flex-basis: 0;
	    justify-content: center;
	    word-wrap: break-word;
	    overflow-wrap: break-word;
	    height: 3rem;
    }
}


.calendar-header {
	flex-grow: 1;
    flex-basis: 0;

    .m-prev, .m-next, .y-next, .y-prev{
    	background-color: #ffffff;
	    cursor: pointer;
	    outline: none;
	    text-align:center;
    }
    .m-prev:before, .m-next:before ,.y-next:before, .y-prev:before {
	    position: relative;
	    top: 0;
	    display: inline-block;
	    width: 1.5em;
	    height: 1.5em;
    }
    .y-prev:before {
		content: "<<"
	}
    .y-next:before {
	    content: ">>";
    }
	.m-prev:before {
		content: "<"
	}
    .m-next:before {
	    content: ">";
    }
    .content {
    	flex-grow: 3;
    	flex-basis: max-content;

    	span {
    		margin-right: 10px;
    	}
    }
}

.calendar-week {
	flex-grow: 1;
  flex-basis: 0;
	border-bottom: 1px solid hsl(0, 0%, 93%);
	border-top: 1px solid hsl(0, 0%, 93%);
    .cell {
			color: hsl(0, 0%, 36%);
    }
}

.calendar-top {
	max-width: 400px;
	max-height: 300px;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	font: normal 15px Helvetica Neue, Helvetica, Arial, sans-serif;
	min-width: 280px;
	background:  linear-gradient(70deg,hsl(0, 0%, 13%),hsl(0, 0%, 36%));
	color: hsl(0, 0%, 100%);
	text-align: center;
	position: relative;
	margin: 0 auto;

	p:nth-child(1) {
		font-size: 70px;
		line-height: 130px;
		margin: 0;
	}
	p:nth-child(2) {
		margin-top: -20px;
		font-size: 20px;
		padding-bottom: 30px;
	}
}

.calendar-panel {
	background: hsl(0, 0%, 100%);
	padding: 0 20px 25px;
	.date-cell {
		width: calc(100% / 7);
		display: inline-block;
		text-align: center;
		line-height: 2.8rem;
		font-weight: bolder;
	}
	.today {
		margin: -1px;
		cursor: pointer;
		background: none;
		border: 1px solid hsl(0, 100%, 85%);
	}
	.button {
		transition: all .2s ease-out;
		cursor: pointer;
		background: hsl(300, 3%, 94%);;

		&:hover {
			background: hsl(0, 0%, 36%);
			color: hsl(0, 0%, 100%);
		}
	}
}
